body {
    background-color: aliceblue;
    color: rgb(12, 19, 2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    line-height: 1. 6em;
    margin: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header {
    background-color: rgb(211, 112, 0);
    color: aliceblue;
}

#navbar {
    background-color: rgb(248, 191, 86);
    color: aliceblue;
}
#navbar ul {
    padding: 0;
    list-style: none;
}
#navbar li {
    display: inline;
}
#navbar a {
    color: aliceblue;
    font-size: 18px;
    padding-right: 115px;
}
#showcase{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/854/270/original/abstract-colorful-gradient-animation-background-free-video.jpg);
    background-position: center right;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}
#showcase h1 {
    color: aliceblue;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main {
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}
#sidebar {
    float: right;
    width: 30%;
    background: #333;
    color: beige;
    padding: 10px;
    box-sizing: border-box;
}
#main-footer {
    background: rgb(211, 112, 0);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
@media(max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}